* {
    margin: 0;
}
body{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', Arial, sans-serif;
	text-align: center;
	color: #272727;
}
h1{
	padding: 35px;
	font-size: 36pt;
	font-weight: 300;
}
h1:after {
    content: "";
    clear: both;
    display: table;
    height: 2px;
    width: 150px;
    background: #ff2a13;
    margin: 10px auto 0 auto;
}
h3{
	color: #272727;
	padding-bottom: 5px;
	font-size: 16pt;
	font-weight: normal; 
}
p{
	padding-bottom: 25px; 
}
input, textarea{
	font-family: 'Open Sans', Arial, sans-serif;
	background-color: #fff;
}
a img{
	border: none;
	text-decoration: none;
}
/*---------------------------Header---------------------------------*/
#header{
	width: 100%;
	height: 48px;
	position: fixed;
	top: 0;
	left: 0;
	text-align: left;
	z-index: 100;
}
.logo{
	display: inline-block;
	color: #fff;
	line-height: 48px;
	font-size: 24pt;
	text-decoration: none;
}
.logo:first-child{
	color: #ff2a13 !important;
	font-size: 14pt;
}
#menu{
	text-align: center;
	list-style: none;
	margin: 0;
	float: right;
	width: 480px;
	position: relative;
	padding: 0;
}
#menu li {
	float: left;
}
#menu li:last-child:after {content: none;}
#menu a {
	text-decoration: none;
	position: relative;
	font-size: 10pt;
	display: inline-block;
	height: 48px;
	line-height: 48px;
	width: 80px;
}
#menu a, #menu a:visited {color: #fff;}
#menu a:hover{color: #777;}
.menuUnderline {
    background: #ff2a13;
	position: absolute;
	height: 3px;
	left: 0;
	bottom: -1px;
	width: 80px;
}
.open{
	right: 0 !important;
	background: #fff;
	transition: all .5s;
}
.open .bars	.bar1{
	transform: rotate(45deg) translate(8px, 7px);
	transition: all .5s;
}
.open .bars	.bar2{
	opacity:0;
	transition: all .5s;
}
.open .bars	.bar3{
	transform: rotate(-45deg) translate( 7px, -6px);
	transition: all .5s;
}
.bars{
	display:none;
	position:absolute;
	left:-55px;
	top:0;
	cursor: pointer;
	padding:15px 15px 10px;
}
.bar1, .bar2, .bar3{
	width: 25px;
	height: 2px;
	background: #fff;
	margin-bottom: 8px;
	transition: all .5s;
}
.black{
	background: #fff;
    border-bottom: 1px solid #e5e5e5;
}
.black .logo{
	color: #555;
}
.black #menu a{
	font-weight: bold;
	color: #555;
}
.black .bar1, .black .bar2, .black .bar3{
	background: #555;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.black, .black .logo, .black #menu a{
	-webkit-transition: all .3s;
	transition: all .3s;
}

/*---------------------------Content---------------------------------*/
#content{
	width: 100%;
}
#content > div{
	padding-bottom: 30px;
}
.centerbox{
	width: 1050px;
	margin: 0 auto;
}
.twocol:after, .threecol:after, .fourcol:after, .featuresrow:after {
    content: " ";
    display: table;
    clear: both;
}
.twocol > span, .threecol > span, .fourcol > span{
	padding: 0 1% 0 1%;
	float: left;
}	
.twocol > span{
	width: 48%;
}
.threecol > span{
	width: 31%;
}
.fourcol > span{
	width: 23%;
}
.dark, #footer{
	background: url('../img/dark_wall.png');
	color: #aaa;
}
.dark h1{
	color: #fff;
}
.light{
	background: #eee;
	color: #555;
}
.light h1{
	color: #272727;
}
.lighter{
	background: #fff;
	color: #555;
	box-shadow: inset 0 5px 5px  -5px #888 , inset 0 -5px 5px  -5px #888;
}
.lighter h1{
	color: #272727;
}
#up, #down{
	width: 48px;
	height: 48px;
	display: block;
	margin: 0 auto 0 auto;
	border: 2px solid #fff;
	border-radius: 48px;
	background: url('../img/arrows.png');
}
#up{
	background-position: 48px 0;
}
#down{
	background-position: 0 0;
}
button{
	display: block;
	cursor: pointer;	
	border: none;
	border-radius: 5px;
	font-size: 18pt;
    letter-spacing: 1px;
	background-color: #ff2a13;
	color: #ddd;
	text-shadow: 0 2px 2px rgba(0,0,0,0.5);
	box-shadow: 0 6px 0 0 #a71000, 0 4px 9px rgba(0,0,0,0.75);
	padding: 14px 60px;
	margin: 15px auto;
	outline: none;
	-moz-appearance: none;
	-webkit-transition: all .1s;
	transition: all .1s;
}
button:hover{
	box-shadow: 0 8px 0 0 #a71000, 0 4px 9px rgba(0,0,0,0.75);
	transform: translate(0px,-2px);
	-webkit-transform: translate(0px,-2px);
}
button:active{
	box-shadow: 0 4px 0 0 #a71000, 0 1px 9px rgba(0,0,0,0.75);
	transform: translate(0px,2px);
	-webkit-transform: translate(0px,2px);
}
button:focus {outline:none;}
/*---------------------------MAIN---------------------------------*/
#main{
	padding-top: 40px;
	background: url('../img/dark_wall.png');
	min-height: 100%;
}
#radialgragient{
	background: radial-gradient(circle closest-corner at 25% 40%, rgba(100,100,100,.1), rgba(255,255,255,0));
}
#main h1{
	padding-top: 25%;
	font-size: 48pt;
	text-shadow: 0 0 15px #222;
}
#main h1:after{
	display: none;
}
#main span > img{
	width: 100%;
	padding-top: 50px;
	background-repeat: no-repeat;
	background-position: center;
}
#price{
	color: #ff2a13;
	display: inline;
	text-shadow: 0;
}
#price p{
	color: #888;
	text-decoration: line-through;
	font-size: 24pt;
	display: inline;
}
#main button{
	color: #fff;
	margin-top: 25px;
}
/*---------------------------AFTERMAIN---------------------------------*/
#aftermain{
	border-top: 1px solid #333;
	padding-top: 15px;
}
#aftermain span {
	text-align: left;
}
#aftermain span img{
	filter: invert(100%);
	display: inline;
	height: 16pt;
	padding-right: 10px;
}
#aftermain h3{
	color: #fff;
	display: inline;
}

#aftermain p{
	padding-top: 10px;
	padding-bottom: 0;
}
/*-----------------------------ABOUT----------------------------------*/
.threecol > span{
	padding-bottom: 30px;
}
#about .threecol span > img{
	padding-bottom: 10px;
	filter: invert(15%);
}
#about h1{
	padding-bottom: 60px;
}
/*---------------------------FEATURES---------------------------------*/
#features .twocol > span {
	width: 66%;
}
#features .twocol > span:first-child {
	width: 30%;
}
#features span > img{
	padding-top: 50px;
	width: 70%;
}
#features .featuresrow img{
	width: 32px;
	padding: 6px 25px 0 15px;
	filter: invert(10%);
}
.featuresrow div:last-child{
	width: 85%;
	float: left;
}
.featuresrow div:first-child{
	width: 15%;
	float: left;
	text-align: right;
}
.featuresrow{
	text-align: left;
}

/*---------------------------LINE---------------------------------*/
#lines img{
	width: 100%;
	vertical-align: middle;
}
#lines h1{
	padding: 30px 0 25px 0;
}	
.lineleft h1:after, .lineright h1:after{
	width: 100%;
}
.lineleft{
    border-bottom: 1px dotted lightgray;
    text-align: left;	
}
.lineright{
    border-bottom: 1px dotted lightgray;
    text-align: right;	
}
.lineright:last-child{
	border: none;
}
.lineleft span:last-child, .lineright span:last-child{
	width: 56%;
}
.lineleft span:first-child, .lineright span:first-child{
	width: 40%;
}
.lineright span:first-child{
	float: right;
}
#first{
	display: block;
	margin: 0;
}
#second,#third{
	display: none;
	margin-right:-300%; 
}
/*--------------------------REVIEWS---------------------------------*/
#reviews p{
	text-align: left;
	color: #eee;
	padding-bottom: 10px;
	padding-right: 15px;
}
#reviews img{
	margin: 0 25px 30px 0;
	border-radius: 50px;
	width: 100%;
}
#reviews img:after{
	content: " ";
	display: table;
	clear: both;
}
#reviews .small{
	padding-top: 0;
	padding-bottom: 30px;
	font-size: 10pt;
	text-align: left;
    display: inherit;
}

#reviews .featuresrow div:last-child{
	width: 82%;
	padding-left: 3%;
}
/*--------------------------Contact---------------------------------*/
input, textarea{
	width: 70%;
	margin-bottom: 10px;
	margin-left: -20px;
	padding: 10px 20px 10px 40px;
	border: 1px solid lightgray;
	border-radius: 5px;
	box-shadow: inset 0 0 5px #eee;
	color: #222;
	outline: none;
	-moz-appearance: none;
}
input:focus, textarea:focus{
	box-shadow: inset 0 0 2px #222;	
}
textarea{
	width: 80%;
	height: 70px;
	resize: none;
}
#contacts #up{
	border: 3px solid #222;
	margin-top: 25px;
}
#contacts .featuresrow{
	width: 70%;
	margin: 0 auto;
}
#contacts .featuresrow div:last-child{
	width: 75%;
	text-align: center;
}
#contacts .featuresrow div:first-child{
	width: 25%;
	text-align: center;
}
#name{
	background-image: url('../img/user.png');
}
#mail{
	background-image: url('../img/envelop.png');
}
#message{
	background-image: url('../img/bubble.png');
}
#name, #mail, #message{
	background-size: 14px;
	background-position: 15px 12px;
	background-repeat: no-repeat;
}
/*---------------------------Footer---------------------------------*/
#footer{
	width: 100%;
	height: 60px;
	font-size: 10pt;
	text-align: left;
	overflow: hidden;
}
#footer a{
	margin-right: 5px;
}
#footer p{
	float: left;
	line-height: 60px;
}
#cont{
	float: right;
	margin-top: 18px; 
}
#email, #vk, #insta, #youtube{
	background-image: url('../img/icons.png');
	width: 24px;
	height: 24px;
	display: block;
	float: left;
}
#email{
	background-position: 0 0;
}
#email:hover{
	background-position: 0 24px;
}
#vk{
	background-position: -24px 0;
}
#vk:hover{
	background-position: -24px 24px;
}
#insta{
	background-position: -48px 0;
}
#insta:hover{
	background-position: -48px 24px;
}
#youtube{
	background-position: -72px 0;
}
#youtube:hover{
	background-position: -72px 24px;
}


/*-----------------------------MEDIA---------------------------------*/
@media (max-width: 1050px){
	.centerbox{
		width: 95%;
	}
	.fourcol > span{
    	width: 48%;
    	padding: 20px 1%;
    }
}
@media (max-width: 800px){
	#menu{
		width:230px;
		max-width:480px;
		height:100vh;
		position:absolute;
		top:0;
		right:-230px;
    }
    #menu li{
    	width: 220px;
    	height: 48px;
    }
    .menuUnderline{
    	display: none !important;
    }
    .bars{
        display:block;
    }
	#menu a, #menu a:visited{
		font-weight: bold;
		color: #555;
	}
    #lines h1{
    	padding-top: 0;
    }
	#contacts .featuresrow div{
		width: 100% !important;	
	}
	input, textarea{
		width: 90%
	}
}
@media (max-width: 640px){
    .twocol > span{
    	width: 100% !important;
    }
    .threecol > span{
    	width: 48%;
    	padding: 0 1%;
    }
    .lineleft, .lineright{
    	background: none;
    }
    #up, #down{
    	margin-top: 25px;
    }
    #main span > img{
    	width: 60%;
    }
    #main .twocol span h1{
	  	padding: 10px;
		line-height: 18pt;
    }
    #main .twocol span h1 sub {
	    font-size: 18pt;
	}
	#main .twocol span p {
    padding-bottom: 50px;
	}
    #features span > img{
    	width: 30%
    }
    #lines img{
		width: 60%;
	}

}
@media (max-width: 420px){
	.featuresrow div:first-child{
		text-align: left;
	}
	#features .featuresrow img{
		padding-left: 0;
	}
	#footer{
		height: 100px;
	}
	#footer p{
		padding-bottom: 0;
		text-align: center;
		width: 100%;
	}
	#footer a{
		margin: 0 18px;
	}
	#cont{
		margin: 0 auto;
		width: 240px;
		float: none;
	}
}
@media (max-width: 320px){
	.threecol > span{
    	width: 100%;
    	padding: 0;
    }
    .fourcol > span{
    	width: 100%;
    	padding: 20px 0;
    }
}